.avatar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  //   border: 2px solid red;
  align-items: center;
  margin-left: 10px;
  height: 10%;
  width: 90%;
  border-radius: 10px;
  margin-top: 20px;
  background-color: lightgray;
  img {
    height: 40px;
    width: 35px;
    border-radius: 50%;
  }
  .details {
    display: flex;
    flex-direction: column;
    // border: 2px dotted black;
    h4 {
      margin-bottom: 0;
    }
    p {
      margin-top: 0;
    }
  }
}
