.main {
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  //border: 2px solid salmon;
  height: 60%;
  gap: 5%;

  .profile-info {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    gap: 10px;
    .buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        color: blue;
      }
    }
  }
  .timeline {
    //border: 2px solid pink;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    flex: 4;
    overflow-y: visible;
  }
}
