.main {
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  height: 60%;
  gap: 5%;

  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    .profile-info {
      .photo-wrapper {
        height: 200px;
        border: 2px solid salmon;
        .photos {
          display: flex;
          flex-wrap: wrap;
        }
      }
    }
  }
  .profile-info {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    gap: 10px;
    .buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        color: blue;
      }
    }
    .photo-wrapper {
      .photos {
        height: 180px;
        //border: 2px solid black;
        overflow: clip;
        flex-shrink: 0;
      }
    }
  }
  .timeline {
    //border: 2px solid pink;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    flex: 4;
    overflow-y: visible;
  }
}
