.friends {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex: 5.7;
  overflow-y: scroll;
  //border: 2px solid salmon;
  margin: 20px;
  background-color: #fff;
  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }
  .friend {
    margin: 20px;
    padding: 20px;
    background-color: #dcebfa;
    display: flex;
    width: 24.5rem;
    flex-direction: column;
    border-radius: 10px;

    .top {
      display: flex;
      align-items: center;
      gap: 10px;
      .details {
        //border: 2px solid blue;
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 40%;
        justify-content: center;
        h4 {
          position: relative;
          bottom: -10px;
        }
        p {
          position: relative;
          top: -25px;
        }
      }
    }
    .bottom {
      button {
        width: 25rem;
        height: 2rem;
        border-radius: 10px;
        background-color: #fff;
        color: blue;
        font-weight: bold;
        border: none;
        &:hover {
          background-color: blue;
          color: white;
        }
      }
    }
  }
}
